[submodule "Tools/Jetson/Software/OpenCV-3.x"]
	path = Tools/Jetson/Software/OpenCV-3.x
	url = https://github.com/jetsonhacks/buildOpenCVXavier.git
[submodule "Tools/Jetson/Software/OpenCV-4.x"]
	path = Tools/Jetson/Software/OpenCV-4.x
	url = https://github.com/JetsonHacksNano/buildOpenCV.git
[submodule "Tools/Jetson/Software/Librealsense2"]
	path = Tools/Jetson/Software/Librealsense2
	url = https://github.com/jetsonhacks/buildLibrealsense2Xavier.git
[submodule "Tools/Jetson/Software/XavierNXOverclock"]
	path = Tools/Jetson/Software/XavierNXOverclock
	url = https://github.com/borongyuan/XavierNXOverclock.git
[submodule "Tools/Jetson/Software/Jetpack_init/rootOnNVMe"]
	path = Tools/Jetson/Software/Jetpack_init/rootOnNVMe
	url = https://github.com/jetsonhacks/rootOnNVMe.git
[submodule "Tools/Jetson/Software/Jetpack_init/rootOnUSB"]
	path = Tools/Jetson/Software/Jetpack_init/rootOnUSB
	url = https://github.com/jetsonhacks/rootOnUSB.git
[submodule "Mission/offboard/ros2_example/src/px4_msgs"]
	path = Mission/offboard/ros2_example/src/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "Mission/offboard/ros2_example/src/px4_ros_com"]
	path = Mission/offboard/ros2_example/src/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "FC/PX4-Autopilot"]
	path = FC/PX4-Autopilot
	url = https://github.com/Peize-Liu/PX4-Autopilot.git
	branch = develop
[submodule "ros2/src/VINS-Fusion"]
	path = ros2/src/VINS-Fusion
	url = https://github.com/Jason-xy/VINS-Fusion-ROS2-CUDA.git
[submodule "ros1/src/ego-planner-swarm"]
	path = ros1/src/ego-planner-swarm
	url = https://github.com/Jason-xy/ego-planner-swarm.git
[submodule "ros2/src/ros1_bridge"]
	path = ros2/src/ros1_bridge
	url = https://github.com/ros2/ros1_bridge.git
[submodule "ros2/src/realsense-ros"]
	path = ros2/src/realsense-ros
	url = https://github.com/IntelRealSense/realsense-ros.git
[submodule "FC/NxtPX4-Hardware"]
	path = FC/NxtPX4-Hardware
	url = https://github.com/Peize-Liu/NxtPX4-Hardware.git
[submodule "Simulation/XTDrone"]
	path = Simulation/XTDrone
	url = https://github.com/robin-shaun/XTDrone.git
[submodule "Simulation/PX4-Autopilot"]
	path = Simulation/PX4-Autopilot
	url = https://github.com/PX4/PX4-Autopilot.git
